name: CI/CD Pipeline

"on":
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Ejecutar tests
    runs-on: ubuntu-latest
    steps:
      - name: Descargar c贸digo
        uses: actions/checkout@v4
        

      - name: Construir imagen de test
        run: docker build --target test -t taskapp:test .

  build-and-push:
    name: Build y publicar en Docker Hub
    runs-on: ubuntu-latest
    needs: test                        
    if: github.event_name == 'push'  

    steps:
      - name: Descargar c贸digo
        uses: actions/checkout@v4

      - name: Iniciar sesi贸n en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build y push de la imagen de producci贸n
        uses: docker/build-push-action@v5
        with:
          context: .
          target: production
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/taskapp:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/taskapp:${{ github.sha }}